@font-face {
    font-family: 'sofia_probold';
    src: url('sofia_pro_bold-webfont.woff2') format('woff2'),
         url('sofia_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_promedium';
    src: url('sofia_pro_medium-webfont.woff2') format('woff2'),
         url('sofia_pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_proregular';
    src: url('sofia_pro_regular-webfont.woff2') format('woff2'),
         url('sofia_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_prosemibold';
    src: url('sofia_pro_semi_bold-webfont.woff2') format('woff2'),
         url('sofia_pro_semi_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
